*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container{
    border: 1px solid white;
    width: 50vh;
}

.image{
    margin: 10px;
    position: relative;
}

.image img {
    width: 100%;
}

.container .text{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: rgb(244, 235, 235);
    position: absolute;
    right: 10px;
    top: 15px;
}


.icon{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

.footer .header{
    margin: 10px;
}

.footer .paragraph{
    margin: 10px;
    color: gray;
}